.highlight-offers__search-bar-select {
  width: 360px;
  height: 54px;
  background: #e6e7e8;
  border-radius: 20px;
  border: none;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #515151;
  margin-right: 40px;
}

.highlight-offers__search-bar-select:last-child {
  margin-right: 0;
}

@media screen and (max-width: 376px) {
  .highlight-offers__search-bar-select {
    display: none;
  }
}
