.terms {
  width: 100%;
  max-width: 1160px;
  padding: 120px 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 376px) {
  .terms {
    padding-top: 60px;
    margin-left: 16px;
  }
}
