.courses__main-text {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 125%;
  padding-bottom: 50px;
  margin: 0;
}

@media screen and (max-width: 1189px) {
  .courses__main-text {
    margin: 0 16px;
  }
}

@media screen and (max-width: 376px) {
  .courses__main-text {
    font-size: 21px;
    padding-bottom: 32px;
  }
}
