.header__logo {
  max-width: 159px;
  max-height: 26px;
  margin-left: 52px;
}


@media screen and (max-width: 1050px) {
  .header__logo {
    margin-left: 16px;
  }
}


@media screen and (max-width: 587px) {
  .header__logo {
    max-width: 164px;
  }
}
