.test__image-cat {
  width: 310px;
  height: 150px;
  border-radius: 0 0px 70px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 500px) {
  .test__image-cat {
    display: none;
  }
 }
