.job {
  max-width: 1160px;
  box-sizing: border-box;
  background: #BAD2FC;
  border-radius: 40px;
  padding: 45px 358px 40px 50px;
  position: relative;
}

.job__info {
  max-width: 925px;
  margin-bottom: 35px;
}

.job__img {
  position: absolute;
  bottom: -25px;
  right: 45px;
}

.job__btn {
  text-decoration: none;
}

.job__text {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 10 * (100vw / 1440));
  line-height: 35px;
  color: #000000;
  margin: 0;
}


@media screen and (min-width: 1440px) {
  .job__text {
    font-size: 30px;
  }
}

@media screen and (max-width: 786px) {
  .job__img {
    bottom: -17px;
    right: 25px;
    width: 194px;
  }

  .job {
    padding-right: 232px;
  }
}

@media screen and (max-width: 615px) {
  .job__img {
    display: none;
  }

  .job__text {
    font-size: 20px;
    line-height: 125%;
    text-align: center;
  }

  .job {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 343px;
    padding: 50px 10px;
  }

  .job__info {
    margin-bottom: 25px;
  }
}
