.job {
  width: 1160px;
  box-sizing: border-box;
  background: #BAD2FC;
  border-radius: 40px;
  padding: 45px 45px 40px 50px;
  position: relative;
}

.job__info {
  max-width: 925px;
  margin-bottom: 35px;
}

.job__img {
  position: absolute;
  bottom: -25px;
  right: 45px;
}

.job__btn {
  text-decoration: none;
}

.job__text {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin: 0;
}