.terms__card-image {
  width: 240px;
  height: 208px;
  object-fit: contain;
  margin: 0 auto;
}

@media screen and (max-width: 376px) {
  .terms__card-image {
    width: 165px;
    height: auto;
    margin: 0 20px;
  }
}
