.intro__button {
  box-sizing: border-box;
  padding: 17px 65px;
  margin-bottom: 67px;
  align-items: center;
  background-color: white;
  border-radius: 120px;
  border: none;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #232323;
  cursor: pointer;
}

.intro__button-text {  
  text-decoration: none;  
}

.intro__button:hover {
  background: #005CFF;
  color: #FFFFFF;
}

.intro__button:active {
  background: #1656C5;
  color: #FFFFFF;
}

@media screen and (max-width: 375px) {
  .intro__button {
    max-width: 343px;
    width: 100%;
  }
  .intro__button-text {
    width: 100%;  
    text-align: center;  
  }
}