.intro {
  background-image: url(../../images/intro/intro.jpg);
  max-width: 1160px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 60px;
  color: white;
  border-radius: 25px;
  padding-top: 17px;
  /* background-size: 1160px 626px; */
}

@media screen and (max-width: 376px) {
  .intro {
    background-position-x: 516px;
    background-size: 932px 691px;
    margin-bottom: 40px;
  }
}
