

.header__button {
  margin-right: 50px;
}


@media screen and (max-width: 1050px) {
  .header__button {
    margin-right: 16px;

  }
}

@media screen and (max-width: 587px) {
  .header__button {
    display: none;
  }
}
