.highlight-offers {
  max-width: 1160px;
  width: 100%;
  padding: 120px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-offers__title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: calc(28px + 22 * (100vw / 1440));
  line-height: 59px;
  margin: 0 0 25px 0;
  align-self: flex-start;
}

.highlight-offers__title-container {
  display: flex;
  align-items: stretch;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.highlight-offers__offers-container {
  padding: 52px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: auto;
  gap: 40px;
  max-width: 1160px;
  margin-bottom: 50px;
  width: 100%;
  justify-items: center;
}

.highlight-offers__offer-conditions {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #575656;
  margin: auto 0 0;
  max-width: 170px;
}

.highlight-offers__offer {
  width: 260px;
  height: 285px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  transition: 0.2s;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.highlight-offers__image {
  display: none;
}

.highlight-offers__offer-name {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.highlight-offers__offer_closed {
  display: none;
}

.highlight-offers__offer:hover {
  outline: 5px solid #4c7fe1;
  box-shadow: none;
}


.highlight-offers__button-show-more {
  background: #262626;
  backdrop-filter: blur(6px);
  border-radius: 120px;
  height: 51px;
  width: 185px;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 50px 0 0;
  align-self: center;
}

.highlight-offers__offer-position {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #575656;
  margin: 0;
  padding: 0 0 10px 0;
}

.highlight-offers__search-bar {
  max-width: 1160px;
  width: 100%;
}

.highlight-offers__search-bar-select {
  width: 360px;
  height: 54px;
  border-radius: 15px;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #000;
  margin-right: 40px;
  border: 1px solid #E0E0E0;
}

.highlight-offers__search-bar-select:hover {
  background: #e6e7e8;
  border: none;
}

.highlight-offers__search-bar-select:last-child {
  margin-right: 0;
}

.highlight-offers__search-bar-button {
  width: 360px;
  height: 54px;
  background-color: #b9cce1;
  border-radius: 20px;
  border: none;
  padding: 0;
  margin: 0 40px 0 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #515151;
}

.highlight-offers__search-bar-button:last-child {
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .highlight-offers__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1196px) {
  .highlight-offers__title {
    margin-left: 16px;
  }
}

@media screen and (max-width: 860px) {
  .highlight-offers__image {
    left: 640px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    background-image: url(../../images/highlight-offers/filter.svg);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .highlight-offers__search-bar-select {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .highlight-offers__offers-container {
    padding: 0;
    margin-bottom: 25px;
    gap: 15px;
  }
}

@media screen and (max-width: 376px) {
  .highlight-offers {
    max-width: 343px;
    margin: 0 16px;
    position: relative;
    padding-top: 80px;
  }

  .highlight-offers__image {
    width: 24px;
    height: 24px;
    margin: 4px 17px 0 0;
  }

  .highlight-offers__offer {
    width: 343px;
    height: 194px;
    padding: 20px 25px;
  }

  .highlight-offers__offer-conditions {
    font-size: 16px;
    line-height: 19px;
    max-width: 297px;
  }

  .highlight-offers__offer-name {
    font-size: 22px;
    line-height: 125%;
  }

  .highlight-offers__offer-position {
    font-size: 16px;
    line-height: 19px;
  }

  .highlight-offers__title {
    font-size: 28px;
    line-height: 33px;
    max-width: 200px;
  }
}
