.test__message-from-applicant {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 10px;
  margin-right: 30px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.test__message-from-applicant::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 25px;
  right: -7px;
  width: 20px;
  background-color: #0b93f6;
  border-bottom-left-radius: 16px 14px;
}

.test__message-from-applicant::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 25px;
  right: -26px;
  width: 26px;
  background-color: #acc7f6;
  border-bottom-left-radius: 10px;
}