.terms {
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 120px 0 0 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms__title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 68px;
  padding-bottom: 22px;
  text-align: center;
  margin: 0;
  align-self: flex-start;
}

.terms__swiper {
  width: 100%;
  margin-bottom: 20px;
}

.terms__btn {
  margin-right: 150px;
}

/* .terms__cards {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
} */

.terms__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 360px;
  height: 485px;
  background: #ffffff;
  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  margin: 30px 0;
  /* padding: 30px;
  box-sizing: border-box; */
}

.terms__card-title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  margin: 30px 38px 22px;
}

.terms__card-image {
  width: 229px;
  height: 208px;
  object-fit: contain;
  margin: 0 auto 40px;
}

.terms__card-description {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  max-width: 289px;
  margin: 0 auto 30px ;
}



.terms__button-accept {
  border: none;
  width: 185px;
  height: 51px;
  background-color: #373737;
  backdrop-filter: blur(6px);
  border-radius: 120px;
  margin: 20px 0 0;
  padding: 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  position: center;
}


@media screen and (max-width: 1430px){
  .terms__card {
    max-width: 360px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .terms__swiper {
    max-width: 768px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 376px) {
  .terms {
    padding-top: 60px;
    padding: 77px 0 0 16px;
  }

  .terms__title {
    padding-bottom: 0;
    font-size: 28px;
    line-height: 1;
    text-align: left;
  }

  .terms__card {
    margin: 26px 0;
    height: 360px;
    max-width: 255px;
    box-sizing: border-box;
    padding: 0 21px;
  }

  .terms__card-title {
    font-size: 22px;
    line-height: 125%;
    margin: 25px 0 20px 0;
  }

  .terms__card-description {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px 0;
    max-width: 205px;
  }

  .terms__card-image {
    width: 165px;
    height: auto;
    margin: 0 20px;
  }

  .terms__swiper {
    max-width: 376px;
  }

  .terms__btn {
    width: 100%;
    margin-right: 0;  
    max-width: 343px;
  }

}
@media screen and (max-width: 370px) {
  .swiper {
    margin-left: 0;
  }

}
