.terms {
  width: 100%;
  max-width: 1160px;
  padding: 63px 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.terms__title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 68px;
  padding-bottom: 30px;
  text-align: center;
  margin: 0;
  align-self: flex-start;
}

.terms__swiper {
  width: 100%;
  margin-bottom: 50px;
}

.terms__cards {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.terms__card-title {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  margin: 0 0 25px 0;
}

.terms__card-image {
  width: 240px;
  height: 208px;
  object-fit: contain;
  margin: 0 auto;
}

.terms__card-description {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 30px 0;
}

.terms__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 360px;
  height: 485px;
  background: #ffffff;
  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.terms__button-accept {
  border: none;
  width: 185px;
  height: 51px;
  background-color: #373737;
  backdrop-filter: blur(6px);
  border-radius: 120px;
  margin: 20px 0 0;
  padding: 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  position: center;
}

@media screen and (max-width: 768px) {
  .terms__swiper {
    max-width: 768px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 376px) {
  .terms {
    padding-top: 60px;
    margin-left: 33px;
    padding: 77px 0 0 0;
  }

  .terms__title {
    padding-bottom: 25px;
    font-size: 28px;
    line-height: 1;
  }

  .terms__card {
    height: 360px;
    max-width: 255;
  }

  .terms__card-title {
    font-size: 22px;
    line-height: 125%;
    margin: 0 0 20px 0;
  }

  .terms__card-description {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px 0;
    max-width: 205px;
  }

  .terms__card-image {
    width: 165px;
    height: auto;
    margin: 0 20px;
  }

  .terms__swiper {
    max-width: 375px;
  }
}
