.highlight-offers__offers-container {
  padding: 52px 0 0 0;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: auto;
  gap: 40px;
  max-width: 1160px;
  margin-bottom: 50px;
  width: 100%;
  justify-items: center;

}

@media screen and (max-width: 770px) {
  .highlight-offers__offers-container {
    padding: 0;
    margin-bottom: 25px;
    gap: 15px;
  }
}


