.highlight-offers__title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: calc(28px + 22 * (100vw / 1440));
  line-height: 59px;
  margin: 0 0 25px 0;
  align-self: flex-start;
}

@media screen and (min-width: 1440px) {
  .highlight-offers__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1196px) {
  .highlight-offers__title {
    margin-left: 16px;
  }
}


@media screen and (max-width: 376px) {
  .highlight-offers__title {
    font-size: 28px;
    line-height: 33px;
    max-width: 200px;
  }
}

