.questions__item {
  margin-bottom: 33px;
  cursor: pointer;
}

.questions__item:last-child {
  margin-bottom: 0px;
}

.questions__item::before {
  content: "";
  display: block;
  border: none;
  margin: 0;
  margin-bottom: 33px;
  background-color: #858585;
  height: 1px;
}

.questions__item-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions__caption {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #232323;
  margin: 0;
}

.questions__img {
  width: 35px;
  height: 35px;
  background-image: url("../../images/questions/icon-default.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.questions__img_active {
  background-image: url("../../images/questions/icon-active.png");
  transition: all 0.5s ease-out;
}

.questions__item-group:hover .questions__img {
  background-image: url("../../images/questions/icon-hover.png");
  transition: all 0.5s ease-out;
}

.questions__item-group:hover .questions__img_active {
  transform: rotate(-45deg);
  transition: all 0.5s ease-out;
}

.questions__block {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #232323;
  margin: 0;
  margin-top: 30px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease max-height;
  margin-right: 131px;
}

.questions__block_active {
  max-height: 300px;
  margin-right: 131px
}

@media screen and (max-width: 376px) {
  .questions__item {
    margin-bottom: 0;
  }
  .questions__item::before {
    margin-bottom: 20px;
    background-color: #E0E0E0
  }

  .questions__block {
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
  }

  .questions__block_active {
    max-height: 300px;
    margin: 20px 58px 20px 0;
  }
  .questions__caption {
    font-size: 18px;
    line-height: 1;
  }

  .questions__img {
    width: 30px;
    height: 30px;
  }
}
