.todo-list {
  max-width: 1160px;
  margin-top: 40px;
  display: grid;
  max-width: 1160px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: minmax(200px, 273px) 111px minmax(261px, 379px) 52px minmax(248px, 3258px);
  align-items: center;
  justify-items: stretch;
  }

/* ломается все на 640 */
@media screen and (max-width: 865px) {
  .todo-list {
    grid-template-columns: minmax(130px, 273px) 76px minmax(163px, 300px) 63px minmax(175px, 3258px);
  }
}


@media screen and (max-width: 718px) {
  .todo-list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

