.reviews__items {
  height: 444px;
  width: 334px;
  background: #FFFFFF;
  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 30px 30px;
  width: 100%;
  margin: 30px 0;
}

/* .swiper-slide:last-of-type {
  background-color: aqua;
  margin-right: 20px;
} */

.reviews__photo {
  width: 334px;
  height: 193px;
  border-radius: 30px 30px 0px 0px;
  object-fit: cover;
  width: 100%;
}

.reviews__info {
  padding: 20px 30px 40px;
}

.reviews__name {
  margin: 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}

.reviews__job {
  margin: 0;
  margin-top: 5px;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #585858;
  min-height: 32px;
}

.reviews__text {
  margin: 0;
  margin-top: 10px;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  .reviews__items {
    width: 255px;
    height: 420px;
  }
  .reviews__photo {
    width: 255px;
    height: 148px;
  }
  .reviews__info {
    padding: 15px 15px 20px;
  }
  .reviews__text {
    margin-top: 15px;
  }
}
