.courses__card {
  position: relative;
  width: 360px;
  height: 228px;
  border-radius: 40px;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.15);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
}

.courses__card:hover {
  padding: 25px;
  background-color: #005CFF;
}

.courses__card:hover:last-child {
  padding: 30px;
  background-color: white;
}

@media screen and (max-width: 376px) {
  .courses__card {
    padding: 20px 40px 20px 25px;
    width: 343px;
    height: 160px;
  }
}



@media screen and (max-width: 376px) {
  .courses__card:last-of-type {
    display: none;
  }
}

.courses__button {
  display: none;
}

@media screen and (max-width: 376px) {
  .courses__button {
    display: block;
    margin: 25px 90px 0;
  }
}
