.form {
  margin-top: 30px;
}

.form__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form__group:nth-child(2) {
  margin-bottom: 35px;
}

.form__group:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.form__group .form__input {
  margin-right: 35px;
}

.form__group .form__input:last-child {
  margin-right: 0;
}

.form__select {
  width: 100%;
  height: 44px;  
  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  border: 1px solid #E0E0E0;
  padding: 0 10px 0 15px;  
  background-image: url('../../images/popup/ChevronDown.svg') no-repeat right;
  background-position-x: calc(100% - 8px);
  margin-right: 35px;
}

.form__select:last-child {
  margin-right: 0;
}

.form__input {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #E0E0E0;
  border-radius: 14px;
  padding: 12px;
}

.form__input:focus {
  outline: none;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 14px;
}

.form__label-input {
  margin: 5px 0 25px;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #575656;
  margin-left: 10px;
}

.form__check {
  display: flex;
  margin: 40px 0;
}

.form__custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form__custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.5px solid #262626;
  border-radius: 5px;
  margin-right: 15px;
  box-sizing: border-box;
}

.form__custom-checkbox:checked+label::before {
  content: '✔';
}

.form__custom-checkbox-label {
  display: block;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.form__select {
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  height: 44px;  
  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  border: 1px solid #E0E0E0;
  padding: 0 10px 0 15px; 
	outline: none;
	cursor: pointer;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: rgba(0, 0, 0, 0.85);
}

/* Убираем стрелочку в IE 10 и 11 */
.form__select::-ms-expand {
	display: none;
}

/* По клику - убираем обводку и добавляем свою*/
.form__select:focus {
	outline: none;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 14px;
}

/* Делаем .select-wrapper родительским элементом для позиционирования "стрелочки" */
.form__select-wrapper {
	position: relative;
  width: 100%;
  margin-right: 35px;
}

.form__select-wrapper:last-child {
  margin-right: 0;
}

.form__select-wrapper::before {
	content: url('../../images/popup/ChevronDown.svg');
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	display: block;
	pointer-events: none;
}

@media screen and (max-width: 550px) {
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form__group {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .form__group:nth-child(2) {
    margin-bottom: 0;
  }
  .form__group .form__input {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .form__input {    
    height: 46px;
    padding: 12px;
  }
  .form__select {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .form__select-wrapper {
    margin-bottom: 10px;
  }
  .form__select:last-child {
    margin-bottom: 0;
  }
  .form__info {
    margin-bottom: 10px;
  }
  .form__label-input {
    margin: 5px 0 10px 10px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
    align-self: flex-start;
  }
  .form__check {
    margin: 10px 0 20px;
  }
  .form__custom-checkbox-label {
    font-size: 13px;
    line-height: 15px;
  }
}