.test__title {
  max-width: 614px;
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: calc(24px + 26 *(100vw / 1440));
  line-height: 110%;
  text-align: center;
  color: #232323;
  margin: 25px 0 30px 0;
}

@media screen and(min-width:1440px){
  .test__title {
    font-size: 50px;
  }
}
