.test__title {
  max-width: 560px;
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: calc(24px + 6 *(100vw / 1440));
  line-height: 35px;
  line-height: 1.2;
  text-align: center;
  color: #232323;
  margin: 39.11px 0 25px 0;
}
