.header__burger {
  display: none;
}

@media screen and (max-width: 902px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .header__burger:hover {
    background: rgba(26, 27, 34, 0.1);
    border-radius: 5px;
  }

  .header__burger::before {
    content: "";
    background: #1A1B22;
    border-radius: 12.5px;
    position: absolute;
    width: 17.5px;
    height: 2.5px;
    top: 9px;
    left: 6px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::after {
    content: "";
    background: #1A1B22;
    border-radius: 12.5px;
    position: absolute;
    width: 17.5px;
    height: 2.5px;
    bottom: 9px;
    left: 6px;
    transition: all 0.3s ease 0s;
  }

  .header__burger_active {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .header__burger_active::before {
    width: 20px;
    height: 2.5px;
    top: 14px;
    transform: rotate(45deg);
  }

  .header__burger_active::after {
    width: 20px;
    height: 2.5px;
    bottom: 14px;
    transform: rotate(-45deg);
  }

}


