.courses__card-image {
  position: absolute;
  margin: 0;
  padding: 0 81px 0 0;
  align-self: flex-end;
  z-index: -1;
  right: -50px;
  bottom: 20px;
}

@media screen and (max-width: 376px) {
  .courses__card-image {
    width: 125px;
    height: 110px;
    padding: 0px 88px 0 0;
    bottom: 5px;
  }
}
