.highlight-offers__image {
  display: none;
}

@media screen and (max-width: 376px) {
  .highlight-offers__image {
    position: absolute;
    top: 140px;
    left: 313px;
    display: block;
    background-image: url(../../../images/highlight-offers/filter.svg);
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
