.test__message-from-yandex {
  max-width: 380px;
  word-wrap: break-word;
  margin-bottom: 10px;
  margin-left: 30px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  background: #acc7f6;
  align-self: flex-start;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.test__message-from-yandex::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 25px;
  left: -7px;
  width: 20px;
  background-color: #acc7f6;
  border-bottom-right-radius: 16px;
}

.test__message-from-yandex::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 25px;
  left: -26px;
  width: 26px;
  background-color: #f8f9fc;
  border-bottom-right-radius: 10px;
}
