.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  background: #373737;
  border-radius: 120px;
  color: #FFFFFF;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  grid-area: button;
  justify-self: self-start;
  width: auto;
  padding: 11px 20px;
}

.button:hover {
  background: #005CFF;
}

.button:active {
  background: #1656C5;
}

.button__footer {
  width: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding: 13px 25px 13px 15px;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .button {
    font-family: 'YS Display';
    font-size: 16px;
    line-height: 19px;
  }
  .button__footer {
    width: auto;
    padding: 12.5px 20px 12.5px 15px;
  }
}

@media screen and (max-width: 375px) {
  .button {
    width: 100%;
  }
  .button__footer {
    width: auto;
    padding: 12.5px 20px 12.5px 15px;
  }
}

html {
  scroll-behavior: smooth;
  }