.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  background: #373737;
  border-radius: 120px;
  color: #FFFFFF;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  grid-area: button;
}

.button:hover {
  background: #3073E8;
}

.button:active {
  background: #1656C5;
}

.button__footer {
  width: 255px;
  height: 44px;
}

@media screen and (max-width: 768px) {
  .button {
    font-family: 'YS Display';
    font-size: 16px;
    line-height: 19px;
  }
  .button__footer {
    width: 219px;
  }
}