.instructions__reviewers {
  display: grid;
  margin-top: 17px;
  grid-template-columns: minmax(358px, 561px) minmax(250px, 560px) ;
  grid-template-areas:
        'image subtitle '
        'image text'
        'image button';
        gap: 3px;
        column-gap: 40px;
  justify-content: start;
}
