.instructions__reviewers {
  display: grid;
  margin-top: 50px;
  grid-template-areas:
        'image subtitle '
        'image text'
        'image button';
        row-gap: 25px;
        column-gap: 40px;
  justify-content: start;
}
