.courses__card-button {
  width: 148px;
  height: 60px;
  border: none;
  background: #373737;
  backdrop-filter: blur(6px);
  border-radius: 120px;
  align-self: flex-end;
  margin-right: 30px;
  padding: 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: white;
}
