.highlight-offers__offer {
  width: 260px;
  height: 260px;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 20px;
  transition: 0.2s;
  padding: 13px 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../../../images/frontendIcon.png");
  background-repeat: no-repeat;
  background-position: 80% 65%;
}

.highlight-offers__offer:hover {
  outline: 5px solid  #4C7FE1;
}
