.terms__swiper {
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .terms__swiper {
    max-width: 768px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 376px) {
  .terms__swiper {
    max-width: 375px;
  }
}