.instructions__tasks {
  grid-area: text;
  padding-inline-start: 26px;
  margin: 20px 0 30px;
  list-style: none;
  padding: 0;
}


@media screen and (max-width: 376px){
  .instructions__tasks {
    margin: 21px 0 25px;
  }
}
