.test {
  margin-top: 80px;
  width: 760px;
  height: 613px;
  border: 1px solid #232323;
  border-radius: 70px;
  background-color: #ACC7F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
