.test {
  margin-top: 80px;
  max-width: 1160px;
  width: 100%;
  height: 613px;
  border: 1px solid #232323;
  border-radius: 70px;
  background-color: #acc7f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  position: relative;
}

@media screen and (min-width: 1440px) {
  .test {
    box-sizing: content-box;
  }
}

.from-applicant {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 10px;
  margin-right: 30px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.from-applicant::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 25px;
  right: -7px;
  width: 20px;
  background-color: #0b93f6;
  border-bottom-left-radius: 16px 14px;
}

.from-applicant::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 25px;
  right: -26px;
  width: 26px;
  background-color: #acc7f6;
  border-bottom-left-radius: 10px;
}

.from-yandex {
  max-width: 380px;
  word-wrap: break-word;
  margin-bottom: 10px;
  margin-left: 30px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  background: #e5e5ea;
  color: black;
  align-self: flex-start;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.from-yandex::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 25px;
  left: -7px;
  width: 20px;
  background-color: #e5e5ea;
  border-bottom-right-radius: 16px;
}

.from-yandex::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 25px;
  left: -26px;
  width: 26px;
  background-color: #acc7f6;
  border-bottom-right-radius: 10px;
}
