.test__paragraph {
  max-width: 559px;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: calc(13px + 7 *(100vw / 1440));
  line-height: 130%;
  text-align: center;
  color: #232323;
  margin: 0 0 50px 0;
}
