.todo-list__arrow-secong {
  width: 145px;
  height: 92px;
  position: absolute;
  transform: rotate(-4.49deg);
  bottom: -38px;
  left: -61px;
}

@media screen and (max-width: 865px) {
  .todo-list__arrow-secong {
    width: 109.05px;
    bottom: -38px;
    left: -27px;
  }
}

@media screen and (max-width: 718px) {
  .todo-list__arrow-secong {
    position: static;
    width: 50px;
    height: 54px;
    transform: rotate(97.5deg)
  }
}
