.todo-list__arrow-first {
  width: 149.05px;
  height: 79.9px;
  transform: rotate(1.26deg);
  position: absolute;
  top: -47px;
  right: -25px;
}

.todo-list__arrow {
  position: relative;
}

@media screen and (max-width: 865px) {
  .todo-list__arrow-first {
    width: 109.05px;
    top: -45px;
    right: -23px;
  }
}

@media screen and (max-width: 718px) {
  .todo-list__arrow-first {
    position: fixed;
    position: static;
    width: 77px;
    height: 39px;
    transform: rotate(79.5deg);
  }
}
