.highlight-offers__offer-conditions {
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #575656;
  margin: auto 0 0;
  width: 170px;
}
