.courses__title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 68px;
  padding-bottom: 25px;
  margin: 0;
}

@media screen and (max-width: 1189px) {
  .courses__title {
    margin: 0 16px;
  }
}

@media screen and (max-width: 376px) {
  .courses__title {
    font-size: 28px;
    line-height: 33px;
    padding-bottom: 15px;
  }
}
