.highlight-offers {
  max-width: 1160px;
  width: 100%;
  padding: 120px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 376px) {
  .highlight-offers {
    max-width: 375px;
    margin: 0 16px;
    position: relative;
    padding-top: 80px;
  }
}
